<% if @starred_lessons.empty? %>
  <%= "You have not starred any lessons. Browse for lessons from the home page!" %>
<% else %>
  <% @starred_lessons.each do |l| %>
    <%= link_to l, class:"pp-lesson-link" do %>
    <div class="pp-lesson-title-container">
      <h3 class="pp-lesson-title"><%= l.topic if l %></h3>
      <ul>
          <li class="pp-lesson-subject-list"><%= formatted_lesson_grade_levels(l) if l %></li>
          <li class="pp-lesson-pipe">|</li>
          <li class="pp-lesson-grade-list"><%= formatted_lesson_subjects(l) if l %></li>
      </ul>
      <ul>
        <li class="icon-star"></li>
        <li class="pp-ranking"><%= star_count(l) if l %></li>
      </ul>
    </div>
    <% end %>
  <% end %>
<% end %>
