<!-- <section class="profile-wrapper">

  <div class="user-profile-photo-wrapper">
    <%= image_tag @user.avatar.url, class: "user-profile-photo" if @user %>
  </div>

  <div class="user-profile-information-wrapper-right">
    <ul class = "user-profile-unique-information">
      <li><span class="profile-page-user-labels">Name:</span>&nbsp&nbsp<%= @user.name %></li>
      <li><span class="profile-page-user-labels">Grade I Teach:</span>&nbsp&nbsp<%= formatted_grade_level_name(@user) %></li>
      <li><span class="profile-page-user-labels">My School Name:</span>&nbsp&nbsp<%= @user.school %></li>
      <li><span class="profile-page-user-labels">School City:</span>&nbsp&nbsp<%= @user.city %></li>
      <li><span class="profile-page-user-labels">School State:</span>&nbsp&nbsp<%= @user.state %></li>
    </ul>
    <span><%= render 'followers_show' %></span>

  </div>
</section>

<div><%= link_to "Edit Profile", edit_user_registration_path, class: 'save-button' %></div>
<br>
<div><%= link_to "New Lesson", new_lesson_path, class: 'save-button' %></div>

<br> -->

<!-- PROFILE PAGE TOP WRAPPER -->
<section class="profile-page-main-wrapper">
  <div class="profile-page-user-photo-wrapper">
    <ul>
      <li class="profile-page-user-photo-list"><%= image_tag @user.avatar.url, class: "profile-page-user-photo" if @user %></li>
    </ul>
  </div>
  <div class="user-profile-information-wrapper">
    <ul class = "user-profile-information">
      <li class="profile-page-user-name"><span class="profile-page-user-label">Name:</span><span class="user-profile-unique-label">&nbsp&nbsp<%= @user.name %></span></li>
      <li class="profile-page-user-grades"><span class="profile-page-user-label">Grades I Teach:</span><span class="user-profile-unique-label">&nbsp&nbsp<%= formatted_grade_level_name(@user) %></span></li>
      <li class="profile-page-user-school"><span class="profile-page-user-label">My School Name:</span><span class="user-profile-unique-label">&nbsp&nbsp<%= @user.school %></span></li>
      <li class="profile-page-user-city"><span class="profile-page-user-label">School City:</span><span class="user-profile-unique-label">&nbsp&nbsp<%= @user.city %></span></li>
      <li class="profile-page-user-state"><span class="profile-page-user-label">School State:</span><span class="user-profile-unique-label">&nbsp&nbsp<%= @user.state %></span></li>
    </ul>
  </div>

  <div class="profile-page-top-wrapper">
  <div class="expander-profile">
      <a href="javascript:void(0)" id="js-expander-trigger" class="expander-profile-trigger expander-hidden">Following</a>
      <div id="js-expander-content" class="expander-content">
        <%= render 'followers_show' %>
      </div>
    </div>
  </div>
</section>

<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="is-active tab-link">My Lessons</a>
    <div class="tab-content">

      <section class="pp-lesson-container">
        <%= render partial: 'my_lessons' %>
      </section>
      <div class="pp-lesson-shim"></div>

  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Starred Lessons</a>
      <div class="tab-content">
        <%= render partial: 'my_starred_lessons' %>
      <div class="pp-lesson-shim"></div>
    </div>
  </li>
</ul>

  <div class="center">
    <div class="edit-profile-new-lesson-buttons-wrapper">
        <div><%= link_to "Edit Profile", edit_user_registration_path, class: 'save-button' %></div>
          <br>
        <div><%= link_to "New Lesson", new_lesson_path, class: 'save-button' %></div>
    </div>
  </div>
