<section class="profile-wrapper">

  <aside class="user-profile-photo-wrapper">
    <%= image_tag @user.avatar.url, class: "user-profile-photo" %>
  </aside>

  <aside class="user-profile-information-wrapper-right">
    <ul class = "user-profile-unique-information">
      <li><strong>Name:</strong>&nbsp&nbsp<%= @user.name %></li>
      <li><strong>Grades I Teach:</strong>&nbsp&nbsp<%= @user.grade %></li>
      <li><strong>My School Name:</strong>&nbsp&nbsp<%= @user.school %></li>
      <li><strong>School City:</strong>&nbsp&nbsp<%= @user.city %></li>
      <li><strong>School State:</strong>&nbsp&nbsp<%= @user.state %></li>
    </ul>
  </aside>
</section>

<% @user.lessons.each do |l| %>
<%= link_to l, class:"my-lessons-container-link" do %>
  <section class="my-lessons-container">
    <article class="my-lessons-preview-area">
      <h3 class="my-lessons-container-title"><%= l.topic %></h3>
      <p class="my-lessons-container-description">
        <%= l.description.html_safe %>
      </p>
      <div class="my-lesson-edit-button-container">
        <%= link_to "Edit", "/lessons/#{l.id}/edit", class:"my-lesson-edit-button" %>
      </div>
    </article>
  </section></a>
<% end %>
<% end %>
<h3>Starred Lessons</h3>
<% @starred_lessons.each do |l| %>
  <%= link_to l, class:"my-lessons-container-link" do %>
  <section class="my-lessons-container">
    <article class="my-lessons-preview-area">
      <h3 class="my-lessons-container-title"><%= l.topic %></h3>
      <p class="my-lessons-container-description">
        <%= l.description.html_safe %>
        <%= l.user.name %>
      </p>
    </article>
  </section></a>
  <% end %>
<% end %>
<div><%= link_to "Edit Profile", edit_user_registration_path, class: 'save-button' %></div>
<br>
<div><%= link_to "New Lesson", new_lesson_path, class: 'save-button' %></div>
<br>
<div><%= link_to "New Plan", new_plan_path, class: 'save-button' %></div>
<br>
<div><%= link_to "My Plans", plans_path, class: 'save-button' %></div>


<!-- <section class="login-signup-container">
	<h2 class="login-signup-form-header">Signup</h2>
	<form method="post" class="minimal">
		<label for="name">
			Name:
      <input type="text" name="name" id="name" placeholder="Your full name" />
		</label>
    <label for="grades">
      Grades:
      <input type="text" name="grades" id="grades" placeholder="Grades I teach" />
    </label>
    <label for="school">
      My School's Name:
      <input type="text" name="school" id="school" placeholder="Where I teach" />
    </label>
    <label for="school-city">
      City:
      <input type="text" name="school-city" id="schoo-cityl" placeholder="My school's city" />
    </label>
    <label for="username">
			Username:
      <input type="text" name="username" id="username" placeholder="Username" />
		</label>
    <label for="password">
			Password:
      <input type="password" name="password" id="password" placeholder="Password must be between 8 and 20 characters" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required">
		</label>
		<button type="submit" class="btn-minimal">Sign in</button>
	</form>
</section>


<section class="login-signup-container">
	<h2 class="login-signup-form-header">Login</h2>
	<form method="post" class="minimal">
		<label for="username">
			Username:
      <input type="text" name="username" id="username" placeholder="Username" />
		</label>
		<label for="password">
			Password:
      <input type="password" name="password" id="password" placeholder="Password" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required">
		</label>
		<button type="submit" class="btn-minimal">Sign in</button>
	</form>
</section> -->
