  <% @lessons.each do |l| %>
  <%= link_to l do %>
  <div class="lesson-preview-title-container">
    <h3 class="lesson-preview-title"><%= l.topic %></h3>
    <ul>
        <li class="lesson-preview-subject-list"><%= formatted_lesson_grade_levels(l) %></li>
        <li class="lesson-preview-pipe">|</li>
        <li class="lesson-preview-grade-list"><%= formatted_lesson_subjects(l) %></li>
    </ul>
  </div>

  <div class="lesson-preview-description-container">

      <ul class="star-ranking">
         <li class="icon-star"></li>
         <li class="ranking"><%= star_count(l) %></li>
      </ul>
        <p class="lesson-preview-description"><%= l.description %></p>
      </div>
    <% end %>
  <% end %>

<div id="paginator-nested">
  <%= paginate @lessons, :remote => true %>
</div>
