<% @lessons.each do |l| %>
  <div class="lesson-preview-title-container">
    <ul class="star-ranking" id=<%= "#{l.id}" %>>
      <% if l.starred?(current_user, l)%>
        <li class="icon-star liked"></li>
      <% else %>
        <li class="icon-star"></li>
      <% end %>
       <li class="ranking"><%= star_count(l) %></li>
    </ul>
    <%= link_to l do %>
    <div>
      <h3 class="lesson-preview-title"><%= l.topic %></h3>
      <ul>
          <li class="lesson-preview-subject-list"><%= formatted_lesson_grade_levels(l) %></li>
          <li class="lesson-preview-pipe">|</li>
          <li class="lesson-preview-grade-list"><%= formatted_lesson_subjects(l) %></li>
      </ul>
    </div>
    <% end %>

    </div>

    <div class="lesson-preview-description-container">
      <p class="lesson-preview-description"><%= l.description %></p>
    </div>
<% end %>

<div id="paginator-nested">
  <%= paginate @lessons, :remote => true %>
</div>
