  <%= form_tag '/' + '#steady_scroll', class: "inline-search-form", :method => 'get' do %>
    <span>Subject:</span>
    <%= select_tag "subject_id", options_from_collection_for_select(Subject.all, "id", "title", params[:subject_id]) %>
    <span>Grade Level:</span>
    <%= select_tag "grade_level_id", options_from_collection_for_select(GradeLevel.all, "id", "title", params[:grade_level_id]) %>
    <%= text_field_tag :search, params[:search], :id => 'inline-search-field' %>
    <%= submit_tag "Search", :name => nil, class: 'inline-search-button' %>
<% end %>
