<body>

  <div class="logo">LessonTree</div>
    <div class="main-container">
      <div class="buttons">
        <%= button_to "About", home_about_path, :class => "about-button" %>
        <% unless current_user %>
        <%= button_to "Login", new_user_session_path, :class => "log-in-button" %>
        <%= button_to "Sign Up", user_registration_path, :class => "sign-up-button" %>
        <% end %>
      </div>
      <h1>A Lesson Sharing Community</h1>
      <p class="key-words">find, create, share, connect</p>
      <h2>all in one place</h2>
    </div>

    <div class="search-container">
      <form>
        <%= form_tag root_path, :method => :get do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
          </p>
          <% end %>
      </form>
    </div>

  <div class="card-container">
    <div class="cards">
    <%= @lessons.each do |l| %>
      <div class="card">
        <div class="card-image">
          <h3> <%= l.topic %></h3>
          <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt=""> -->
        </div>
        <div class="card-header">
          <%= l.description.html_safe + "..." %>
        </div>
        <div class="card-copy">
        </div>
      </div>
      <% end %>
    </div>
  </div>
 </div>

  </body>
