


  <div class="main-container-hero">
      <h1>Teacher Lesson Plans<h1>
        <p class="key-words">find, create, share, connect</p>
        <p class="third-line">all in one place</p>
    </div>

    <!---------------------
       SEARCH BOX
    ---------------------->

    <div class="search-box-wrapper">
      <form class="inline-search-form">
        <input id="inline-search-field" type="text" placeholder="Find Plans" required>
        <input class="inline-search-button" type="button" value="Search">
      </form>
    </div>

<!----------------------------------------------------------------------------------------
THIS IS THE OLD SEARCH BOX. WRAP ERB WITH HTML ABOVE
-------------------------------------------------------------------------------------------->

    <div class="search-container">
      <%= form_tag root_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: "search-box" %>
        <%= submit_tag "Search", name: nil, class: "btn btn-search" %>
      <% end %>
    </div>

  <div class="card-container">
    <div class="cards">
    <% @lessons.each do |l| %>
      <div class="card">
        <%= link_to l do %>
          <div class="card-image">
            <h3> <%= l.topic %></h3>
          </div>
          <div class="card-header">
            <%= l.description.html_safe + "..." %>
          </div>
          <div class="card-copy">
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
 </div>
