<section class="lesson-preview-container">
  <div class="lesson-preview-title-container">
    <ul class="star-ranking">
      <% if @starred == false %>
        <li class="icon-star"><%= icon('star') %></li>
      <% else %>
        <li class="icon-star liked"><%= icon('star') %></li>
      <% end %>
      <li class="ranking"><%= @document.lesson.stars.count %></li>
    </ul>
    <h3 class="lesson-preview-title"><%= @document.lesson.topic %></h3>
    <ul>
      <li class="lesson-preview-subject-list"><%= formatted_lesson_subjects(@document.lesson) %></li>
      <li class="lesson-preview-pipe">|</li>
      <li class="lesson-preview-grade-list"><%= formatted_lesson_grade_levels(@document.lesson) %></li>
    </ul>
  </div>
  <div class="lesson-preview-description-container">
    <p class="lesson-preview-description"><%= @document.lesson.description.html_safe %></p>
  </div>
</section>


<h2>Previous Versions of <%= @document.title %></h2>

<table class="versions-table">
  <thead>
    <tr class="versions-labels-row">
      <th class="versions-index-heading">Versions</th>
      <th class="versions-date-heading">Date</th>
      <th class="versions-author-heading">Author</th>
      <th class="versions-event-heading">Event</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%- document.versions.reverse.each do |version| %>
      <tr class="versions-data-row">
        <td class="verisons-index-data"><%= version.index %></td>
        <td class="verisons-created-data"><%= version.created_at.strftime("%A, %B %d at %I:%M%p") %></td>
        <td class="verisons-author-data"><%= find_version_author_name(version) %></td>
        <td class="verisons-event-data"><%= version.event.humanize %></td>
        <td class="verisons-changes-link"><%= link_to 'Changes',
            diff_document_version_path(document, version) if document.versions.count > 1 && version.index > 0 %></td>
        <td class="verisons-rollback-link"><%= link_to 'Rollback', rollback_document_version_path(document, version), method: 'PATCH' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="back-to-lesson-link-container">
  <span class="back-to-lesson-link"><%= link_to 'Back', lesson_path(document.lesson) %></span>
</div>
