<div class='row mt'>
  <div class='col-sm-12'>
    <h2><%= "Difference between Version #{@version.id} and Current Version" %></h2>
    <div class='well diff'>
      <p class="changes-to-title">
        Changes to Title:
        <%= diff(@version.reify.title, @document.title) %>
      </p>
      <br>
      <br>
      <p class="changes-to-content">
        Changes to Content:
        <%= diff(@version.reify.content, @document.content) %>
      </p>
    </div>
    <p class="version-author-information">
    <%= "Version authored by #{find_version_author_name(@version)} on
        #{@version.created_at.strftime("%A, %B %d at %I:%M%p") } event:
        '#{@version.event.humanize}'." %>
    </p>
  </div>
</div>

<div class="diffy-page-buttons">
  <span class="diffy-back-link"><%= link_to 'Back', version_history_document_path(@document.id), class: 'btn btn-danger' %></span>
  <span class="diffy-rollback-link"><%= link_to 'Rollback', rollback_document_version_path(@document, @version), class: 'btn btn-primary', method: 'PATCH' %></span>
</div>
