<div class='row mt'>
  <div class='col-sm-12'>
    <h2><%= "Difference between Version #{@version.id} and Current Version" %></h2>
    <div class='well diff'>
      <p>
        Changes to Title:
        <%= diff(@version.reify.title, @document.title) %>
      </p>
      <br>
      <br>
      <p>
        Changes to Content:
        <%= diff(@version.reify.content, @document.content) %>
      </p>
    </div>
    <p>
    <%= "Version authored by #{find_version_author_name(@version)} on
        #{@version.created_at.strftime("%A, %B %d at %I:%M%p") } event:
        '#{@version.event.humanize}'." %>
    </p>
  </div>
</div>

<div class='fr'>
  <%= link_to 'Back', version_history_document_path(@document.id), class: 'btn btn-danger' %>
  <%= link_to 'Rollback', rollback_document_version_path(@document, @version), class: 'btn btn-primary', method: 'PATCH' %>
</div>
