<section class="lesson-preview-container">
  <div class="lesson-preview-title-container">
    <h3 class="lesson-preview-title"><%= @document.lesson.topic %></h3>
    <ul>
      <li class="lesson-preview-subject-list"><%= formatted_lesson_subjects(@document.lesson) %></li>
      <li class="lesson-preview-pipe">|</li>
      <li class="lesson-preview-grade-list"><%= formatted_lesson_grade_levels(@document.lesson) %></li>
    </ul>
  </div>

  <div class="lesson-preview-description-container">
    <ul class="star-ranking">
    <li class="icon-star"></li>
    <li class="ranking"><%= @document.lesson.stars.count %></li>
    </ul>
    <p class="lesson-preview-description"><%= @document.lesson.description.html_safe %></p>
  </div>
</section>

<div class='row mt'>
  <div class='col-sm-12'>
    <h2><%= "#{@document.title}" %></h2>
    <div class='well diff'>
      <% if @version.reify.title != @document.title %>
        <p class="changes-to-title">
          Changes to Title:
          <%= diff(@version.reify.title, @document.title) %>
        </p>
      <% end %>
      <br>
      <br>
      <% if @version.reify.content != @document.content %>
        <p class="changes-to-content">
          Changes to Content:
          <%= diff(@version.reify.content, @document.content) %>
        </p>
      <% end %>
    </div>
    <p class="version-author-information">
    <%= "Version authored by #{find_version_author_name(@version)} on
        #{@version.created_at.strftime("%A, %B %d at %I:%M%p") } event:
        '#{@version.event.humanize}'." %>
    </p>
  </div>
</div>

<div class="edit-save-buttons-wrapper">
  <%= link_to 'Back', version_history_document_path(@document.id), class: 'back-button' %></span>
  <span class="diffy-rollback-link"><%= link_to 'Rollback', rollback_document_version_path(@document, @version), class: 'edit-button', method: 'PATCH' %></span>
</div>

  <div class="edit-save-buttons-wrapper">
    <div class="nl">
        <div></div>
    </div>
    <div class="edit-save-buttons-wrapper">
        <div></div>
    </div>
  </div>

  <div class="diffy-page-spacer"></div>
