<!-- <div class="document-preview">
  <% @created_documents.each do |d| %>
  <div class="document-meta-data">
    <div class="document-show-button">
      <%= link_to "#{d.title}:", document_form_lesson_path(d.id), class: "fancybox", id: "#{d.id}", remote: true %>
    </div>
    <div class="document-buttons">
      <%= link_to "Version History", version_history_document_path(d.id) %>
    </div>
    <% if @lesson.user == current_user %>
      <span class="document-buttons"><%= link_to "Edit", edit_document_path(d.id) %></span>
      <span class="document-buttons"><%= link_to " | Delete", document_path(d), method: :delete %></span>
    <% end %>

  </div>
  <div class="document-viewer">
    <%= d.content.html_safe %>
  </div >

  <% end %>

</div> -->


<% @documents.each do |d| %>
<% if d.content.nil? %>
  <%= d.title %>
  <iframe src=<%= d.upload.url %> width="100%" height="800px"></iframe>
<% else %>
<div class="document-meta-data">
  <div class="document-show-button">
    <%= link_to "#{d.title}:", document_form_lesson_path(d.id), class: "fancybox", id: "#{d.id}", remote: true %>
  </div>
  <div class="document-buttons">
    <%= link_to "Version History", version_history_document_path(d.id) %>
  </div>
  <% if @lesson.user == current_user %>
    <span class="document-buttons"><%= link_to "Edit", edit_document_path(d.id) %></span>
    <span class="document-buttons"><%= link_to " | Delete", document_path(d), method: :delete %></span>
  <% end %>

</div>
<div class="document-preview">
  
  <div class="document-viewer">
    <%= d.content.html_safe %>
    <% end %>
  </div >

  <% end %>

</div>
