
<section class="document-page-top-toolbar-container">
  <div class="document-page-top-toolbar">
    <div class="headline-container">
    <ul class="document-page-headline-list">
      <li class="document-page-headline"><%= @document.title %></li>
    </ul>
  </div>
    <ul class="document-page-top-toolbar-list">
      <!-- <%= link_to "Branch", new_document_path(document_id: @document.id) %> -->
      <% if @document.lesson.user == current_user %>
      <a href=<%= "#{edit_document_path(@document)}" %>>
        <li class="document-page-top-toolbar-edit"><i class="fa fa-pencil-square-o"></i><span class="document-page-edit">Edit</span></li>
      </a>
      <% end %>
      <a href=<%= "#{version_history_document_path(@document)}" %>>
        <li class="document-page-top-toolbar-history"><i class="fa fa-history"></i><span class="document-page-history">History</span></li>
      </a>
      <% unless @document.lesson.user == current_user%>
        <li></li>
        <% end %>
      <% if @document.lesson.user == current_user %>
      <a href=<%= "#{document_path(@document)}" %> data-method="delete">
        <li class="document-page-top-toolbar-delete"><i class="fa fa-trash-o"></i><span class="document-page-delete">Delete</span></li>
      </a>
      <% end %>
    </ul>

  </div>
</section>
<% if @document.content.nil? %>
  <iframe src=<%= @document.upload.url %> class="doc-show-iframe"></iframe>
<% else %>

  <div class="document-preview">

    <div class="document-viewer">
      <%= @document.content.html_safe %>
    </div>

  </div>

<% end %>
