<% if @lesson.errors.any? %>
  <ul>
    <%= @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for(@lesson, multipart: true) do |f| %>
  <div>
    <%= f.label :topic %>
    <%= f.text_field :topic %>
  </div>
  <div>
    <%= f.label :description %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label "Subjects" %>
    <%= f.collection_check_boxes :subject_ids, @subjects, :id, :title %>
  </div>
  <div>
    <%= f.label "Grade Levels" %>
    <%= f.collection_check_boxes :grade_level_ids, @grade_levels, :id, :title %>
  </div>
  <div>
    <%= f.submit "Create Lesson", :class => "create-lesson" %>
  </div>
<% end %>
