<% if @lesson.errors.any? %>
  <ul>
    <%= @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @lesson do |f| %>
  <div>
    <%= f.label :topic %>
  </div>
  <div>
    <%= f.text_field :topic %>
  </div>
  <div>
    <%= f.label :description %>
  </div>
  <div>
    <%= f.cktext_area :description, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'simple'} } %>
  </div>
  <div>
    <%= f.submit "Create Lesson", :class => "create-lesson" %>
  </div>
<% end %>
