<section class="lesson-preview-container">

  <div class="lesson-preview-title-container">
    <h3 class="lesson-preview-title"><%= @lesson.topic %></h3>
    <ul>
        <li class="lesson-preview-subject-list"><%= formatted_lesson_subjects(@lesson) %></li>
        <li class="lesson-preview-pipe">|</li>
        <li class="lesson-preview-grade-list"><%= formatted_lesson_grade_levels(@lesson) %></li>
  </ul>
  </div>

  <div class="lesson-preview-description-container">
    <ul class="star-ranking">
    <li class="icon-star"></li>
    <li class="ranking"><%= @lesson.stars.count %></li>
    </ul>
    <p class="lesson-preview-description"><%= @lesson.description.html_safe %></p>
  </div>

  <div id="paginator">
    <%= paginate @documents %>
  </div>

    <%= render 'document_show' %>

    <div class="star-container">
        <%= form_for @star do |f| %>
        <%= f.hidden_field :lesson_id, value: @lesson.id %>
        <button type="submit" class="icon-star"></button>
          <% end %>
    </div>

  <%= commontator_thread(@lesson) %>
</section>
<% if @lesson.user == current_user %>
<div class="edit-save-buttons-wrapper">
  <%= link_to 'Upload Lesson Document', upload_file_documents_path(lesson_id: @lesson.id), id: 'fancybox', class: 'edit-button' %>
  <%= link_to "Create Lesson Document", new_document_path(lesson_id: @lesson.id), class: 'save-button' %>
  <div class="delete-lesson-button-wrapper">
  <div class="delete-lesson-button"
  <%= link_to "Delete Lesson", lesson_path(@lesson), method: :delete %>
</div>
</div>
</div>
<% end %>
