<div><h3><%= @lesson.topic %></h3></div>
<div id="lesson-show"><%= @lesson.description.html_safe %></div>

<%= form_for @star do |f| %>
<%= f.label "Star this lesson?" %>
<%= f.check_box :lesson_id, value: @lesson.id, class: "star-box", id: "#{@lesson.id}", checked: @starred %>
<% end %>

<% if current_user %>
  <h3>Add this lesson to a plan below:</h3>
  <%= form_for @lesson do |f| %>
  <%= f.collection_select :plan_id, @plans, :id, :title, include_blank: true, selected: @default %>
  <%= f.submit "Add Lesson to Plan"%>
  <% end %>
<% end %>

<div>
<% @documents.each do |d| %>
<%= link_to d do %>
  <p><%= d.title %></p>
  <% end %>
<% end %>

<div class="edit-save-buttons-wrapper">
  <%= link_to 'Upload Lesson Document', "/documents/#{@lesson.id}/upload_file", class: 'edit-button' %>
  <%= link_to "Create Lesson Document", '/documents/new' + "?lesson_id=#{@lesson.id}", class: 'save-button' %>
</div>
