<section class="lesson-preview-container">

  <div class="lesson-preview-title-container">
    <h3 class="lesson-preview-title"><%= @lesson.topic %></h3>
    <ul>
        <li class="lesson-preview-subject-list"><%= formatted_lesson_subjects(@lesson) %></li>
        <li class="lesson-preview-pipe">|</li>
        <li class="lesson-preview-grade-list"><%= formatted_lesson_grade_levels(@lesson) %></li>
  </ul>
  </div>

  <div class="lesson-preview-description-container">
    <ul class="star-ranking">
    <li class="icon-star"></li>
    <li class="ranking"><%= @lesson.stars.count %></li>
    </ul>
    <p class="lesson-preview-description"><%= @lesson.description.html_safe %></p>
  </div>
  <% unless @lesson.user == current_user %>
  <%= form_for @star do |f| %>
    <%= f.label "Star this lesson?" %>
    <%= f.check_box :lesson_id, value: @lesson.id, class: "star-box", id: "#{@lesson.id}", checked: @starred %>
  <% end %>
  <% end %>

  <% unless @uploaded_documents.empty? %>
    <p class="list">Uploaded Documents</p>
    <% @uploaded_documents.each do |d| %>
    <span class="document-show-button"><%= link_to "#{d.title}", "#{d.upload.url}", class: "fancybox", id: "#{d.id}", remote: true %></span>
      <span class="document-buttons"><%= link_to " | Delete", document_path(d), method: :delete %></span>
    <% end %>
  <% end %>

  <% unless @created_documents.empty? %>
    <p class="list">Created Documents</p>
    <% @created_documents.each do |d| %>
      <span class="document-show-button"><%= link_to "#{d.title}:", document_form_lesson_path(d.id), class: "fancybox", id: "#{d.id}", remote: true %></span>
      <span class="document-buttons"><%= link_to "Version History", version_history_document_path(d.id) %></span>
      <% if @lesson.user == current_user %>
        <span class="document-buttons"><%= link_to " | Edit", edit_document_path(d.id) %></span>
        <span class="document-buttons"><%= link_to " | Delete", document_path(d), method: :delete %></span>
      <% end %>
      <br>
    <% end %>
  <% end %>
<br>
  <%= commontator_thread(@lesson) %>
</section>
<% if @lesson.user == current_user %>
<div class="edit-save-buttons-wrapper">
  <%= link_to 'Upload Lesson Document', upload_file_documents_path(lesson_id: @lesson.id), id: 'fancybox', class: 'edit-button' %>
  <%= link_to "Create Lesson Document", new_document_path(lesson_id: @lesson.id), class: 'save-button' %>
</div>
<% end %>
