<div><h3><%= @lesson.topic %></h3></div>
<div id="lesson-show"><%= @lesson.description.html_safe %></div>

<%= form_for @star do |f| %>
<%= f.label "Star this lesson?" %>
<%= f.check_box :lesson_id, value: @lesson.id, class: "star-box", id: "#{@lesson.id}", checked: @starred %>
<% end %>

<div><%= formatted_lesson_grade_levels(@lesson) %></div>
<div><%= formatted_lesson_subjects(@lesson) %></div>

<h3>Uploaded Documents</h3>
<% @uploaded_documents.each do |d| %>
  <div><%= link_to "#{d.title}", "https://isotropic.org/papers/chicken.pdf", class: "fancybox", id: "#{d.id}", remote: true %></div>
<% end %>

<h3>Created Documents</h3>
<% @created_documents.each do |d| %>
  <div><%= link_to "#{d.title}", "/lessons/#{d.id}/document_form", class: "fancybox", id: "#{d.id}", remote: true %></div>
<% end %>

<%= commontator_thread(@lesson) %>

<div class="edit-save-buttons-wrapper">
  <%= link_to 'Upload Lesson Document', upload_file_documents_path(lesson_id: @lesson.id), id: 'fancybox', class: 'edit-button' %>
  <%= link_to "Create Lesson Document", new_document_path(lesson_id: @lesson.id), class: 'save-button' %>
</div>

<div style="display: none">
    <div id="content-div">Some content here</div>
</div>
