<div><h3><%= @lesson.topic %></h3></div>
<div id="lesson-show"><%= @lesson.description.html_safe %></div>

<h3>Add this lesson to a plan below:</h3>
<%= form_for @lesson do |f| %>
<%= f.collection_select :plan_id, Plan.all, :id, :title %>
<%= f.submit "Add Lesson to Plan"%>
<% end %>

<div><%= link_to 'Upload Document', new_document_path, class: 'create-lesson' %></div>
<div><%= link_to "Create Document", new_document_path, class: 'create-lesson' %></div>
