<section class="lesson-preview-container">

  <div class="lesson-preview-title-container">
    <h3 class="lesson-preview-title">Example of Lesson Title</h3>
    <ul>
        <li class="lesson-preview-subject-list">Social Studies</li>
        <li class="lesson-preview-pipe">|</li>
        <li class="lesson-preview-grade-list">1st Grade</li>
  </ul>
  </div>

  <div class="lesson-preview-description-container">
    <ul class="star-ranking">
    <li class="icon-star"></li>
    <li class="ranking">12</li>
    </ul>
    <p class="lesson-preview-description">In sit erroribus interpretaris, id populo scriptorem nam.
      Ex has sale copiosae. Sit ea noster commune. Congue adversarium nam cu. Accumsan dissentias
      duo ut, assum quaerendum ea duo. Pro et elitr deseruisse temporibus, est te pertinax intellegam dissentiunt,
      te paulo placerat cotidieque sea. An sit dico stet omnesque, libris integre hendrerit id sit.</p>
  </div>
</section>


<div><h3><%= @lesson.topic %></h3></div>
<div id="lesson-show"><%= @lesson.description.html_safe %></div>

<%= form_for @star do |f| %>
<%= f.label "Star this lesson?" %>
<%= f.check_box :lesson_id, value: @lesson.id, class: "star-box", id: "#{@lesson.id}", checked: @starred %>
<% end %>

<h3>Uploaded Documents</h3>
<% @uploaded_documents.each do |d| %>
  <div><%= link_to("#{d.title}", d.upload.url) %></div>
<% end %>

<h3>Created Documents</h3>
<% @created_documents.each do |d| %>
  <div><%= link_to "#{d.title}", d, class: "fancybox", id: "#{d.id}", remote: true %></div>
<% end %>

<div class="edit-save-buttons-wrapper">
  <%= link_to 'Upload', "/documents/#{@lesson.id}/upload_file", class: 'edit-button' %>
  <%= link_to "Create", '/documents/new' + "?lesson_id=#{@lesson.id}", class: 'save-button' %>
</div>

<div style="display: none">
    <div id="content-div">Some content here</div>
</div>
