<body>

  <div class="logo">LessonTree</div>
    <div class="main-container">
      <div class="buttons">
        <button class="about-button">About</button>
        <button class="log-in-button">Log In</button>
        <button class="sign-up-button">Sign Up</button>
      </div>
      <h1>Teacher Lesson Plans<h1>
        <p class="key-words">find, share, edit, plan, save</p>
        <h2>all in one place</h2>
    </div>

    <div class="search-container">
      <form>
        <%= form_tag lesson_path, :method => :get do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
          </p>
          <% end %>
          <div id="facets">
            <h3>Published</h3>
            <ul>
              <% for row in @search.facet(:month_created).rows %>
                <li>
                  <% if params[:month].blank? %>
                    <%= link_to row.value, :month => row.value %> (<%= row.count %>)
                  <% else %>
                    <strong><%= row.value %></strong> (<%= link_to "remove", :month => nil %>)
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
      </form>
    </div>

 <div class="card-container">
 <div class="cards">
  <div class="card">
    <div class="card-image">
      <h3>1st grade science</h3>
      <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt=""> -->
    </div>
    <div class="card-header">
      Description
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <h3>5th grade art class</h3>
      <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt=""> -->
    </div>
    <div class="card-header">
      Description
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <h3>2nd grade spelling activity</h3>
      <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt=""> -->
    </div>
    <div class="card-header">
      Description
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
 </div>
 </div>

  </body>
