<div class="signup-container">
  <div class="signup-form-header">
    <h2>Login</h2>
  </div>



  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form.minimal label">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="form.minimal label">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="form.minimal label">
    <% if devise_mapping.rememberable? -%>

      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
  <% end -%>
</div>

  <div class="btn-minimal-container">
    <%= f.submit "Submit", :class => 'btn-minimal' %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
