
<section class="login-container">
  <h2 class="login-form-header">Log In</h2>



  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'minimal') do |f| %>

      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>


    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>

    <div class="login-forgot-password-buttons-wrapper">
  <div class="login-button-wrapper">
    <%= f.submit "Login", :class => 'login-button' %>
  </div>

<% end %>


<%= render "devise/shared/links" %>
</div>
</section>
