<header>
  <nav class="nav-logout-bar">
    <div class="nav-logo">
      <ul>
        <li class="logo"><a href= "/" >LessonTree</a></li>
      </ul>
    </div>
    <div class="nav-list">
      <ul>
        <%= link_to "About", home_about_path, :class => "nav-about" %>
          <% if current_user %>
            <%= link_to "My Profile", current_user, :class => "nav-myProfile" %>
            <%= link_to "Log Out", destroy_user_session_path, :method => 'delete', :class => "nav-logout" %>
          <% else %>
            <%= link_to "Log In", new_user_session_path, :class => "nav-login" %>
            <%= link_to "Sign Up", users_sign_up_path, :class => "nav-signup" %>
          <% end %>
      </ul>
    <div>
  </nav>
</header>
