<header>
  <img class= "src="tree.svg" alt="lessontree logo">
  <nav class="logo-buttons">


   <div class="logo">LessonTree</div>
    <div class="buttons">
      <%= link_to "About", home_about_path, :class => "about-button" %>
       <% if current_user %>
        <%= link_to "My Profile", current_user, :method => 'get', :class => "go-to-profile" %>
        <%= link_to "Logout", destroy_user_session_path, :method => 'delete', :class => "log-in-button" %>
      <% else %>
        <%= link_to "Log In", new_user_session_path, :class => "log-in-button" %>
        <%= link_to "Sign Up", users_sign_up_path, :class => "sign-up-button" %>
      <% end %>
    </nav>
    </div>

</header>
