<!DOCTYPE html>
<html>
<head>
  <title>LessonTree</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Merriweather|Hind:400,600|Dancing+Script' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render partial: 'header/header' %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  <p class="navbar-text pull-right">

<ul class="nav">
  <li class="active"><%= link_to "My Profile Page", user_path(current_user) if current_user %></li>
</ul>

<%= yield %>
<%= render partial: 'footer/footer' %>

</body>
</html>
