<!DOCTYPE html>
<html>
<head>
  <title>LessonTree</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Merriweather|Hind:400,600|Dancing+Script' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
   <div class="logo">LessonTree</div>
    <div class="buttons">
      <button class="about-button">About</button>
      <button class="log-in-button">Log In</button>
      <button class="sign-up-button">Sign Up</button>
      <button class="go-to-profile">My Profile</button>
    </div>
  </header>

  <nav class="top-nav-profile-page">
    <span class="lessontree-logo"><a href="/">LessonTree</a></span>

    <% if user_signed_in? %>
      <span class="current-user"><%= current_user.email %></span>.
      <%= link_to 'Profile', edit_user_registration_path, :class => 'modal-trigger-login' %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'modal-trigger-login'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </nav>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  <p class="navbar-text pull-right">

<ul class="nav">
  <li class="active"><%= link_to "My Profile Page", user_path(current_user) if current_user %></li>
</ul>


<%= yield %>
<%= render partial: 'footer/footer' %>

</body>
</html>
