<!DOCTYPE html>
<html>
<head>
  <title>LessonTree</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Merriweather|Hind:400,600|Dancing+Script' rel='stylesheet' type='text/css'>
  <link href="https://fontastic.s3.amazonaws.com/SVrEZX6mMSGxN8iWYCeYrJ/icons.css" rel="stylesheet">
  </head>
<body>
  <!-- <%= render partial: 'header/header' %> -->

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
<!-- <%= render partial: 'footer/footer' %> -->

</body>
</html>
